body {
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135def, rgb(24,42,155) 0%, rgb(33,138,174) 69%, rgb(32,167,172) 89%) !important;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px rgba(34,36,38,.15);
}